/* Light mode by default */
:root {
    --bg-color: #4F9ACC;
    --text-color: #000000;
    --primary-color: #f359a1;
    --button-color: #DDD9F1;
    --button-radius: 0 0 10px 10px;
    --bg-color-modal: #3b7094;
}

/* Dark mode */
[data-theme="dark"] {
    --bg-color: #6738A5;
    --text-color: #ffffff;
    --primary-color: #EACA43;
    --button-color: #DDD9F1;
    --bg-color-modal: #462670;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    min-height: 100vh;
    height: 100%;
    overflow: hidden;
    padding: 10;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

header {
    
    padding: 15px;
    text-align: center;
}

#scramble {
    font-weight: bold;
    font-size: 1.2rem;
}

main {
    flex: 1;
    display: grid;
    grid-template-columns: 0.70fr 1fr 0.70fr;
    gap: 20px;
    padding: 5px;
}

#leftPanel,
#rightPanel,
#centerPanel {
    border: 3px solid black;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#centerPanel {
    align-items: center;
    justify-content: space-between;
    min-width: 0;
}

#cube {
    flex: 1;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#credit {
    text-align: center;
    padding: 2px;
}

button {
    padding: 8px 12px;
    background-color: var(--button-color);
    border: 2px solid black;
    cursor: pointer;
}

button:hover {
    opacity: 0.85;
}

.selectedMode {
    background-color: #aca1e3;
}